#box{
    width: 300px;
    height: 350px;
    border: 10px solid #ccc;
    margin: 0 auto;
}
#box h1{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
#ps p{
    color :darkgray;
    width: 500px;
    height: 20px;
    margin: auto;
}
